/* Início Cabeçalho */

header {
  background-color: #bbbbbb;
  padding: 20px 0;
}
.cabecalho {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.navegacao {
  position: absolute;
  top: 50%;
  right: 0;
}
.navegacao li {
  display: inline;
  margin-left: 15px;
}
.navegacao li a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.navegacao a:hover {
  color: #c78c19;
  text-decoration: underline;
}

/* Início Main */
p {
  text-align: center;
}

em strong {
  color: #ff0000;
}

#banner {
  width: 100%;
}
#missao {
  font-size: 20px;
}
.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}

.beficios-lista {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.principal {
  background: #cccccc;
  padding: 30px;
}

.principal p {
  margin-bottom: 1em;
}
.principal strong {
  font-weight: bold;
}
.principal em {
  font-style: italic;
}
.beneficios {
  background: #fff;
  padding: 20px;
}
.itens {
  font-style: italic;
}
.img-beneficios {
  width: 60%;
}

/* Início Footer */

footer {
  text-align: center;
  background: url("../img/bg.jpg");
  padding: 40px 0;
}

.copyright {
  color: #fff;
  font-size: 13px;
  margin-top: 20px;
}
